[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ticker
Exec=harbour-ticker
Name=Ticker
Comment=Live stock and index tickers on the cover
Categories=Office;Finance;

[X-Sailjail]
Permissions=Internet
OrganizationName=harbour-ticker
ApplicationName=harbour-ticker
