[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ticker
Exec=harbour-ticker
Name=Harbour Ticker
Comment=Live stock and index tickers on the cover
Categories=Office;Finance;
